<style>
    body {
      margin: 0;
    }
    a {
      color: black;
      text-decoration: none;
    }
    h1 {
      font-size: 200%;
      text-align: center;
      border-bottom:2px solid gray;
      padding:20px;
      margin:0;
    }
    h2{
      margin-bottom:5px;
    }
    ol {
      border-right:2px solid gray;
      margin:0px;
      padding:20px;
      width:93px;
    }

    #ui{
      display: grid;
      grid-template-columns: 28px 70px 1fr;
    }
    .ui-b{
      font-size: larger;
      text-align: center;
    }
    .ui-c{
      font-size: 80%;
      text-align: right;
    }
    #grid{
      display: grid;
      grid-template-columns: 155px 1fr;
    }
    #html{
      color:gray;
      }
  }
  @media(max-width:800px){
    #grid{
      display: block;
    }
  }
</style>
