<style>
    body {
      margin:0px;
    }
    a {
      color:black;
      text-decoration: none;
    }
    ol {
      border-right:none;
    }
    h2{
      margin-bottom:5px;
    }
    h1 {
      font size:40px;
      text-align:center;
      border-bottom:2px solid gray;
      padding:10px;
      margin:0px;
    }
    h2{
      margin-bottom:5px;
    }
    h4 {
      float:left;
      margin:0px;
    }
    h5 {
      display:inline;
      float:right;
      margin:1.5px;
    }
    ol {
      border-right:2px solid gray;
      margin:0px;
      padding:20px;
      width:90px;
  }
    #home{
      color:blue;
    }
    #grid{
      display: grid;
      grid-template-columns: 150px 1fr;
    }
    #html{
      color:gray;
      }
  }
  @media(max-width:800px){
    #grid{
      display: block;
    }
    ol {
      border-right:none;
    }
    h1{
      font-size:24px;
      border-bottom:none;
    }
  }
</style>
